.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url("https://cnet1.cbsistatic.com/img/Bc6SUydJFBLdLD1WweaZalnnZSY=/970x0/2019/03/07/09bea7ff-c78b-4679-8e8f-88e639bf70a8/galaxy-s10e-galaxy-s10-plus-45.jpg");
  background-size: cover;
}
.example-spacer {
  flex: 1 1 auto;
}

:host /deep/ mat-grid-list .mat-figure {
  display: block;
}
